@model  SharedContextTest.Product
<div class="d-form">
    <div class="d-field">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new
   {
       placeholder = "Enter the product name",
       data_val = "true",
       data_val_required = "The product name is required."
   })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    
</div>

